.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.product {
    display: grid;
    padding: 1rem;
    row-gap: 1.5rem;
    border-radius: 5px;
}

.product--list {
    border: 1px solid var(--light-grey);
    text-align: center;
    transition: box-shadow .2s ease-in-out;
}

.product:hover {
    box-shadow: 0.7px 0.7px 4px 0px hsla(23, 100%, 52%, 0.75);
}

.product--single{
    text-align: left;
}

@media screen and (min-width: 768px) {
    .product--single{
        grid-template-columns: 1fr 1fr;
    }
}

.product--single .product{
    height: max-content;
}

.product--single:hover,
.product--single .product:hover {
    box-shadow: unset;
}

.product__image {
    max-width: 12.5rem;
}

.product__image--single {
    border-radius: unset;
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .product__image--single{
        border-bottom: 1px solid #dedede;
    }
}

@media screen and (min-width: 768px) {
    .product__image--single {
        border-right: 1px solid #dedede;
        margin-right: 5rem;
    }
}

@media screen and (min-width: 992px) {
    .product__image--single {
        max-width: unset;
    }
}

.product__price {
    font-size: 2.2rem;
    font-weight: 400;
    align-self: center;
}

.product__price--sale {
    color: var(--orange);
}

.product__price small {
    font-size: 1.1rem;
    color: var(--light-grey);
    display: block;
    text-transform: uppercase;
}

.product__price del {
    font-size: 1.6rem;
}

.product__name {
    font-size: 1.5rem;
    color: var(--mid-blue);
    font-weight: 400;
}

.product__name--single {
    font-size: 2.2rem;
}

.product__description{
    color: #555555;
}

@media screen and (min-width: 992px) {
    .products-container {
        grid-template-columns: repeat(5, 1fr);

    }
}

/* PAGINATION */
.pagination a.page-number {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #d9d9d9;
}

.pagination a.page-number:hover {
    background-color: #00aced;
    color: #fff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #aaa;
    text-decoration: none;
}

.pagination a.enabled {
    font-weight: bold;
    text-decoration: none;
    color: #002936;
}

.pagination a.enabled:hover {
    color: #00aced;
}

.pagination a.active {
    background-color: #002936;
    color: #fff;
}